/*
	Vincent Nguyen
	CSE154 HW8
	This file contains code that styles the webpage containing a "fifteen puzzle"
*/

body {
	font-family: cursive;
	font-size: 14pt;
	text-align: center;
}

#puzzlearea {
	width: 400px;
	height: 400px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#puzzlearea div {
	height: 90px;
	width: 90px;
	border: 5px solid black;
	font-size: 40pt;
	background-image: url("background.jpg");
	position: absolute;
}

.mouseover {
	border-color: red !important;
	color: red;
	cursor: pointer;
}